.cart-details hr {
    margin: 3px 3px 15px;
}

.cart-details div{
    margin-bottom: 13px;
    font-size: 20px;
}

.cart-details div button {
    margin-left: 5px;
    padding: 2px 7px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}